<div *ngIf="game">
  <h1>{{game.gameName}}</h1>
  <div><strong>released:</strong> {{game.released}}</div>
  <div><strong>developer:</strong> {{game.developer}}</div>
  <div><strong>publisher:</strong> {{game.publisher}}</div>
  <div><strong>platform:</strong> {{game.platform}}</div>
  <div><strong>genre:</strong> {{game.genre}}</div>
  <div><strong>esrb rating:</strong> {{game.esrb_rating}}</div>
  <div><strong>Description:</strong> {{game.description}}</div>
  <div><strong>game image:</strong> {{game.gameImage}}</div>
  <div><strong>website:</strong> {{game.website}}</div>
  <br>
  <button [routerLink]="['/games/edit/', game._id]">Edit</button>
  <button>Delete</button>
</div>
